<script src="{{site.url}}/assets/js/all.js"></script>
<!-- <script src="{{site.url}}/assets/js/{% if page.js %}{{ page.js }}{% endif %}"></script> -->
<!-- LiveCall -->

<script async src="https://assets.livecall.io/accounts/6322/widget.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-130875103-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-130875103-1');
</script>

</body>
</html>
