
<div class="lgbg">
	<div class="row">
		<div class="small-12 columns text-center b-ws-top m-ws-bottom">
		<h4 class="bkc nm">Case studies</h4>
		<div class="scolor">With a proven track record of 9+ years in India</div>
		</div>
		<div class="small-12 medium-6 columns b-ws-bottom">

			{% for post in site.posts limit:4 %}
			<a href="{{post.url}}">
				<div class="callout">
					<div class="row">
						<div class="small-3 columns">
							<img src="{{site.url}}/assets/img/logos/{{post.logo}}">
						</div>
						<div class="small-8 columns np">
							<div class="bold bkc">{{ post.head }}</div>
							<div class="scolor s">{{ post.subhead }}</div>
							<!-- <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_long_string }}</time> -->
						</div>
						<div class="small-1 columns s-ws-top">
							<i class="icon-right-open f-1-5x scolor3"></i>
						</div>
					</div>
				</div>
			</a>
			{% endfor %}
		</div>
		<div class="small-12 medium-6 hide-for-small-only columns b-ws-bottom">
			{% for post in site.posts limit:4 offset:4 %}
			<a href="{{post.url}}">
				<div class="callout">
					<div class="row">
						<div class="small-3 columns">
							<img src="{{site.url}}/assets/img/logos/{{post.logo}}">
						</div>
						<div class="small-8 columns np">
							<div class="bold bkc">{{ post.head }}</div>
							<div class="scolor s">{{ post.subhead }}</div>
							<!-- <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_long_string }}</time> -->
						</div>
						<div class="small-1 columns s-ws-top">
							<i class="icon-right-open f-1-5x scolor3"></i>
						</div>
					</div>
				</div>
			</a>
			{% endfor %}
		</div>
	</div>
</div>
<div class="wbg">
<!-- <div>
	Awards
</div> -->
<div class="row">
	<div class="small-12 medium-10 large-8 small-centered columns text-center s-ws-top">
		<!-- <h4 class="bkc s-ws-bottom-p">Partner with us</h4> -->
		<div class="row">
			<div class="small-8 small-centered medium-uncentered medium-5 columns b-ws-top b-ws-top-p">
				<img src="{{site.url}}/assets/img/human.jpg">
			</div>
			<div class="small-12 medium-7 medium-uncentered columns text-left s-ws-top">
				<div class="bkc nm">Starting a new project?</div>
				<div class="s-ws-bottom">And worried about on time delivery</div>
				<div class="bkc  nm">Already started?</div>
				<div class="s-ws-bottom">And project is slipping out of control</div>
				<div class="bkc  nm">Have a portfolio?</div>
				<div class="s-ws-bottom">An worried about cashflow targets</div>
				<!-- <div class="m-ws-top scolor">We have you covered</div> -->

				<div class="callout dbbg">
					<h4 class="wc bold">Partner with us</h4>
					<p class="wcolor">Find out how we can help. Give us a call.</p>
					<form action="https://formspree.io/aditya@mutinylabs.in" method="POST">
						<label class="wcolor">Your phone number
						<input type="tel" name="telephone" class="fullwidth" placeholder="+91-xxx-xxx-xxxx"></label>
						<label class="wcolor">Your email
						<input type="email" name="mail" class="fullwidth" placeholder="name@email.com"></label>
						<input type="hidden" name="_next" value="http://signup.realization.com/thankyou.html"/>
						<input type="submit" name="" class="button fullwidth nm" value="Request Callback">
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<div class="lgbg">
	<div class="row">
		<div class="small-12 columns text-center b-ws-top">
			<h4 class="bkc ">Testimonials</h4>
			<div class="m-ws-bottom">$6 billion saved for our clients and counting</div>
		</div>
	</div>
	<div class="row">
		<div class="small-12 medium-4 columns">
			<div class="callout">
				<p class="s">In NTPC Khargone, within a month of starting the implementations of Project Analytics , our project management team had complete visibility of the bottleneck areas. Even when new bottlenecks are emerging, we are not taken by surprise. This enabled Team Khargone to take a lot of actions pro-actively and now our entire management team has full control on the due dates.
				</p>
				<div class="row">
					<div class="small-3 columns">
						<img src="{{site.url}}/assets/img/profile/ajayshukla.jpeg" class="circle-img br">
					</div>
					<div class="small-9 columns np">
						<div class="bkc">Mr. Ajay Shukla</div>
						<div class="s">AGM, NTPC</div>
					</div>
				</div>
			</div>
			<div class="callout">
				<p class="s">“After one year of execution the project is 1.5 months ahead of management’s estimate. A planned shutdown of the mill during the upgrade was completed ahead of target and we implemented more scope than planned.
				</p>
				<div class="row">
					<div class="small-3 columns">
						<img src="{{site.url}}/assets/img/profile/sachitjain.jpeg" class="circle-img br">
					</div>
					<div class="small-9 columns np">
						<div class="bkc">Mr. Sachit Jain</div>
						<div class="s">MD, Vardhman Special Steels</div>
					</div>
				</div>
			</div>
		</div>
		<div class="small-12 medium-4 columns">
			<div class="callout">
				<p class="s">Realization literally acts as Google Maps for my projects. All of us, from the Top Management to the front line manager, know exactly what actions are necessary to prevent them from becoming actual delays. In the first year itself, the same project team has doubled the rate of execution.</p>
				<p class="s">What impresses me is that they act more like partners to my business. They really understand my business requirements in detail and provide me control of my entire portfolio and great insights in the way forward.
				</p>
				<div class="row">
					<div class="small-3 columns">
						<img src="{{site.url}}/assets/img/profile/renilgogri.png" class="circle-img br">
					</div>
					<div class="small-9 columns np">
						<div class="bkc">Mr. Renil R. Gogri</div>
						<div class="s">Director, Aarti Industries</div>
					</div>
				</div>
			</div>
			<div class="callout">
				<p class="s">“We were able to complete a Hot Strip Mill shutdown in 8.8 days against our planned shutdown of 11 days, thus saving the company a significant amount.”
				</p>
				<div class="row">
					<div class="small-3 columns">
						<img src="{{site.url}}/assets/img/profile/sudipto.jpg" class="circle-img br">
					</div>
					<div class="small-9 columns np">
						<div class="bkc">Mr. Sudipto Sarkar,</div>
						<div class="s">Head (Technical), Hot Strip mill, Tata Steel</div>
					</div>
				</div>
			</div>	
		</div>
		<div class="small-12 medium-4 columns">
			<div class="callout">
				<p class="s">Creating a world-class shipyard and a 200m shiplift totally in-house involved many challenges. Yet the project was completed in 28 months, overcoming most delays and uncertainties. This was possible primarily due to dedicated team effort. The team from Realization was involved in coordination, planning and monitoring the project throughout.
				</p>
				<div class="row">
					<div class="small-3 columns">
						<img src="{{site.url}}/assets/img/profile/mvkotwal.png" class="circle-img br">
					</div>
					<div class="small-9 columns np">
						<div class="bkc">Mr. M V Kotwal</div>
						<div class="s">L&T Board Member and President—Heavy Engineering</div>
					</div>
				</div>
			</div>
			<div class="callout">
				<p class="s">Concerto gave us alarms, flags, escalation of issues on which we promptly acted. Prior to adopting Concerto, we were very apprehensive on the quantum of information we would be required to feed in the system, particularly duplication over the information we used to feed in SAP. Most pleasant surprise after its implementation had been the limited additional information which we have to update on the system and most of the data was directly linked from SAP.
				</p>
				<div class="row">
					<div class="small-3 columns">
						<img src="{{site.url}}/assets/img/profile/viveknigam.jpeg" class="circle-img br">
					</div>
					<div class="small-9 columns np">
						<div class="bkc">Mr. Vivek Nigam</div>
						<div class="s">VP & Head of Business Unit-Machine Building, ISGEC Heavy Engineering Ltd.</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="dbbg">
	<div class="row">
		<div class="small-12 columns text-center b-ws-top s-ws-bottom">
			<h4 class="wcolor">We are your global partners</h4>
		</div>
	</div>
	<div class="row">
		<div class="small-12 medium-4 columns wc">
			<div class="bold f-1-25x"> India </div>
			<div>101A, First Floor</div>
			<div>Nano Space IT Park</div>
			<div>5/1B/2, Baner</div> 
			<div>Pune - 411 045, India</div>
			<div class="s-ws-top">91.97694.38447</div> 
			<div class="s-ws-top">nkumar@realization.com</div>
		</div>
		<div class="small-12 medium-4 columns s wcolor">
			<div class="wc bold">United States</div>
			<div>440 North Wolfe Rd,</div>
			<div>Sunnyvale, CA 94085</div>
			<div>1.408.271.1720</div>
			<div class="s-ws-top wc bold">Brazil</div>
			<div>Belo Horizonte, MG</div>
			<div>55(31)8404-7227</div>
		</div>
		<div class="small-12 medium-4 columns s wcolor">
		<div class="wc bold">Spain</div> 
		<div>CMG Consultores</div>
		<div>c/ Anochecer, 2 Oficina 11</div>
		<div>28223 Pozuelo de Alarcón- Madrid</div>
		<div>+34 91 357 90 25</div>
		<div class="s-ws-top bold wc">South Africa</div> 
		<div>West Wing Birchwood Court</div> 
		<div>Montrose Street</div> 
		<div>Vorna Valley, Midrand</div> 
		<div>Gauteng 1686,</div>
		<div>Republic of South Africa</div> 
		<div>27.83.306.7145</div>
		</div>
	</div>
	<footer class="row">
		<div class="small-12 columns text-center b-ws-top wcolor2">
		  {% include components/nav-footer.html %}
			<div class="s s-ws-top">
			Copyright © Realization Technologies, Inc. All rights reserved.
			</div>
			<div class="s s-ws-top s-ws-bottom">
			Build with love at New Delhi, India
			</div>
		</div>	
	</footer>
</div>

{% include foot.html %}
