<div class="lgbg">
	
	<footer class="row">
		<div class="small-12 columns text-center b-ws-top b-ws-bottom">
		  <!-- {% include components/nav-footer.html %} -->
			<div class="s scolor2" style="margin-top: 5em;">
			<!-- Copyright © <a href="http://mutinylabs.in" target="_blank" class="scolor2">Mutiny Labs</a>. All rights reserved. -->
			</div>
			<div class="s scolor2 b-ws-bottom s-ws-top">
			<!-- Build with love at New Delhi, India -->
			</div>
		</div>	
	</footer>
</div>

{% include foot.html %}
