<!doctype html>
<html class="no-js" lang="{{ site.language}} ">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <meta name="description" content="{% if page.description %}{{page.description}}{% endif %}">
  <meta name="google-site-verification" content="{{ site.google-verification }}">
  <link rel="icon" type="image/png" href="{{site.url}}/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="{{site.url}}/favicon-16x16.png" sizes="16x16" />
  <link rel="icon" href="{{site.url}}/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="{{site.url}}/assets/css/app.css">
  <link href="https://file.myfontastic.com/Ls6mwEKoTC64vvkDGGjxvX/icons.css" rel="stylesheet">

        <!-- TODO: add og, twitter card -->
    
  <!-- Start of HubSpot Embed Code -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/5220337.js"></script>




<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M2BSJBL');</script>
<!-- End Google Tag Manager -->


  <!-- End of HubSpot Embed Code -->

{% if page.categories %}
  {% for category in page.categories limit:1 %}
  <meta content="{{ category }}" property="article:section">
  {% endfor %}
{% endif %}
{% if page.tags %}
  {% for tag in page.tags %}
  <meta content="{{ tag }}" property="article:tag">
  {% endfor %}
{% endif %}

<!-- Here’s the final snippet of code with the appropriate meta data: -->

<meta content="{{ site.title }}" property="og:site_name">
{% if page.title %}
  <meta content="{{ page.title }}" property="og:title">
{% else %}
  <meta content="{{ site.title }}" property="og:title">
{% endif %}
{% if page.title %}
  <meta content="article" property="og:type">
{% else %}
  <meta content="website" property="og:type">
{% endif %}
{% if page.description %}
  <meta content="{% if page.description %}{{page.description}}{% endif %}" property="og:description">
{% else %}
  <meta content="{% if page.description %}{{page.description}}{% endif %}" property="og:description">
{% endif %}
{% if page.url %}
  <meta content="{{site.baseurl}}{{ page.url }}" property="og:url">
{% endif %}
{% if page.date %}
  <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
  <meta content="{{site.baseurl}}/about/" property="article:author">
{% endif %}
{% if page.image %}
  <meta content="{{site.url}}/assets/img/{{ page.image }}" property="og:image">
{% else %}
  <meta content="{{site.url}}/assets/img/logo.png" property="og:image">
{% endif %}
{% if page.categories %}
  {% for category in page.categories limit:1 %}
  <meta content="{{ category }}" property="article:section">
  {% endfor %}
{% endif %}
{% if page.tags %}
  {% for tag in page.tags %}
  <meta content="{{ tag }}" property="article:tag">
  {% endfor %}
{% endif %}
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M2BSJBL"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
