<!-- <div data-sticky-container>
<div class="top-bar">
  <div class="top-bar-title">
    <span data-responsive-toggle="responsive-menu" data-show-for="small">
      <button class="menu-icon dark" type="button" data-toggle></button>
    </span>
    <strong>Site Title</strong>
  </div>
  <div id="responsive-menu">
    
    <div class="top-bar-right">
      <ul class="menu">
      <li><a href="{{site.url}}">Home</a></li>
      <li><a href="{{site.url}}#culture">Culture</a></li>
      <li><a href="{{site.url}}/jobs/">Join the Team</a></li>
        <li><input type="search" placeholder="Search"></li>
        <li><button type="button" class="button">Search</button></li>
      </ul>
    </div>
  </div>
</div>
</div> -->


<div data-sticky-container>
  <div class="top-bar top b-ws-top" data-sticky data-options="marginTop:3em;" style="width:100%">
    <div class="top-bar-title">
    <span data-responsive-toggle="responsive-menu" data-show-for="small">
      <button class="menu-icon dark" type="button" data-toggle></button>
    </span>
    <img src="{{site.url}}/assets/img/logo-white.png">
  </div>
    <div class="top-bar-right s-ws-top">
      <ul class="menu">
        <li class="wc">For:</li>
        <li class="clevel"><a href="{{site.url}}/clevel.html">MD/C-level</a></li>
        <li class="pmanager"><a href="{{site.url}}/pmanager.html">Project Manager</a></li>
        <!-- <li><a href="#">Events</a></li> -->
        <li class="pmo"><a href="{{site.url}}/pmo.html">PMO Team</a></li>
        <!-- <li><a href="#">Blog</a></li> -->
      </ul>
    </div>
  </div>
</div>

<!-- <div data-sticky-container>
  <div class="top" data-sticky data-options="marginTop:0;" style="width: 100%">
<div class="title-bar" data-responsive-toggle="example-animated-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar " id="example-animated-menu" data-animate="hinge-in-from-top spin-out">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Site Title</li>
      <li>
        <a href="#">One</a>
        
      </li>
      <li><a href="#">Two</a></li>
      <li><a href="#">Three</a></li>
    </ul>
  </div>
</div>
</div>
</div> -->