---
layout: default
---
<div class="parallax-background post">
	

	<!-- <div class="parallax-header">
	  <div class="row">
	  	<div class="medium-4 small-centered columns text-center wbg" style="border-radius: 0 0 3px 3px;">

	  		<a href="{{site.url}}"><img src="{{site.url}}/assets/img/logo.png"><img src="{{site.url}}/assets/img/logo-type.png"></a>
	  	</div>
	  </div>
	</div> -->
<img src="{{site.url}}/assets/img/cover/{{page.cover}}">

</div>
{% include components/nav-menu.html %}
<div class="parallax-content post">

<div class="row">
	<div class="small-10 small-offset-2 columns">
		<h2 class="serif bold wc">{{ page.title }}</h2>
	</div>
</div>
<div class="wbg">
<div class="row">
	<div class="small-2 columns b-ws-top-p text-right">
		<img src="{{page.logo}}">
		<h5 class="bkc">{{page.company}}</h5>
	</div>
	<div class="small-6 columns s-ws-top">
		<main>
			<article>
			  <!-- <p class="meta">{{ page.date | date_to_string }}</p> -->
			  <p class="post-content">
			  {{ content }}
			  </p>
			</article>
			</main>
	</div>
	<div class="small-3 columns b-ws-top">
		<div class="callout dbbg">
			<h4 class="wc bold">Interested?</h4>
			<p class="wcolor">Find out how we can help. Give us a call.</p>
			<form action="https://formspree.io/aditya@mutinylabs.in" method="POST">
				<label class="wcolor">Your phone number
				<input type="tel" name="telephone" class="fullwidth" placeholder="+91-xxx-xxx-xxxx"></label>
				<label class="wcolor">Your email
				<input type="email" name="mail" class="fullwidth" placeholder="name@email.com"></label>
				<input type="hidden" name="_next" value="http://signup.realization.com/thankyou.html"/>
				<input type="submit" name="" class="button fullwidth nm" value="Request Callback">
			</form>
		</div>
	</div>
</div>
</div>
